    {% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard - DataMine Synergy{% endblock %}

{% block dashboard_title %}Tableau de bord{% endblock %}

{% block content %}

    <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Bienvenue sur DataMine Synergy</h4>
                            </div>
                            <div class="card-body">
                                <p>
                                    Bienvenue sur <strong>DataMine Synergy</strong>, une plateforme innovante et intuitive conçue pour répondre aux besoins des professionnels de la géologie et de l'ingénierie des données. Notre application combine des outils d'analyse géostatistique, de visualisation de données et de modélisation pour vous offrir une solution complète et performante.
                                </p>
                                <p>
                                    <strong>DataMine Synergy</strong> a été développée pour vous permettre d'exploiter pleinement vos données géologiques, de les visualiser de manière claire et précise, et de créer des modèles prédictifs fiables. Que vous soyez géologue, ingénieur ou analyste de données, notre plateforme est conçue pour vous accompagner dans vos projets les plus complexes.
                                </p>
                                <p>
                                    Nous sommes fiers de vous proposer une solution qui allie simplicité d'utilisation et puissance analytique. Explorez les fonctionnalités de <strong>DataMine Synergy</strong> et découvrez comment notre plateforme peut transformer votre manière de travailler.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endblock %}
